Repository tomasanchez/heimdallr: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, flake8, isort, black

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

build(dependencies): add textract for document reading
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

feat(msword): add .doc support
  src/heimdallr/adapters/assignment_reader.py
Due: pylint, mypy, flake8, isort, black

feat(mongodb): add mongodb connection
  docker-compose.yml
  src/heimdallr/dependencies.py
  src/heimdallr/domain/events/monitor.py
  src/heimdallr/entrypoint/monitor.py
  src/heimdallr/settings/mongo_settings.py
Due: pylint, mypy, flake8, isort, black

chore(release): updated version and documentation
  README.md
  src/heimdallr/version.py
Due: pylint, mypy, flake8, isort, black

fix(entrypoint): find by '_id'
  src/heimdallr/entrypoint/v1/assignments.py
Due: pylint, mypy, flake8, isort, black

fix(service): threadpool execution
  src/heimdallr/service_layer/assignment_verifier.py
Due: pylint, mypy, flake8, isort, black

feat(domain): topic classification
  src/heimdallr/domain/events/assignments.py
  src/heimdallr/domain/models/assignment.py
Due: pylint, mypy, flake8, isort, black

refactor(domain): pythonic enums
  src/heimdallr/domain/models/assignment.py
Due: pylint, mypy, flake8, isort, black

build(ml): add dependencies
  poetry.lock
  pyproject.toml
Due: none

chore(model): topic classification model
  models/topic_prediction.joblib
Due: none

chore(notebook): ml analysis
  src/heimdallr/notebooks/classification.ipynb
Due: none

fix(services): performance issues
  src/heimdallr/service_layer/assignment_verifier.py
Due: pylint, mypy, flake8, isort, black

refactor(domain): updated labels
  src/heimdallr/domain/models/assignment.py
Due: pylint, mypy, flake8, isort, black

build(dependencies): changed required dependencies
  poetry.lock
  pyproject.toml
Due: none

refactor(domain): add topic to events
  src/heimdallr/domain/events/assignments.py
Due: pylint, mypy, flake8, isort, black

feat(adapters): add text processing
  src/heimdallr/adapters/text_processing.py
Due: pylint, mypy, flake8, isort, black

feat(adapters): topic prediction (in progress)
  src/heimdallr/adapters/assignment_reader.py
Due: pylint, mypy, flake8, isort, black

test(adapters): updated test to match short discard
  tests/unit/service_layer/test_assignment_verifier.py
Due: pylint, flake8, isort, black

feat(adapters): lunch optional topic predictor
  src/heimdallr/adapters/assignment_reader.py
Due: pylint, mypy, flake8, isort, black

chore(notebook): add training notebook
  src/heimdallr/notebooks/training.ipynb
Due: none

refactor(settings): add model path ENV
  src/heimdallr/settings/api_settings.py
Due: pylint, mypy, flake8, isort, black

refactor(settings): add models env
  README.md
  src/heimdallr/settings/api_settings.py
Due: pylint, mypy, flake8, isort, black

refactor(service): toggleable plagiarism detection support
  src/heimdallr/dependencies.py
  src/heimdallr/service_layer/assignment_verifier.py
Due: pylint, mypy, flake8, isort, black

refactor(domain): remove command unused attribute
  src/heimdallr/domain/commands/assignments.py
Due: pylint, mypy, flake8, isort, black

refactor(asgi): load model on startup
  src/heimdallr/asgi.py
Due: pylint, mypy, flake8, isort, black

build(docker): add model path in image
  Dockerfile
Due: none

fix(Dockerfile): syntax error
  Dockerfile
Due: none

build(model): model training
  db/training.csv
  src/heimdallr/train.py
Due: pylint, mypy, flake8, isort, black

build(docker): train model
  .dockerignore
  Dockerfile
Due: none

chore(jupyter): add analysis notebooks
  src/heimdallr/notebooks/sample.ipynb
  src/heimdallr/notebooks/similarities.ipynb
Due: none

chore(release): update version
  src/heimdallr/version.py
Due: pylint, mypy, flake8, isort, black

chore(release): update version
  pyproject.toml
Due: none

docs(heimdallr): add writings
  Heimdallr.pdf
Due: none

docs(heimdallr): update pdf
  Heimdallr.pdf
Due: none

build(script): migration script
  src/heimdallr/migration.py
Due: pylint, mypy, flake8, isort, black

chore(settings): updated default db
  src/heimdallr/settings/mongo_settings.py
Due: pylint, mypy, flake8, isort, black

build(scripts): print output path
  src/heimdallr/train.py
Due: pylint, mypy, flake8, isort, black

refactor(logs): add warnings
  src/heimdallr/dependencies.py
  src/heimdallr/service_layer/assignment_verifier.py
Due: pylint, mypy, flake8, isort, black

build(docker): you push the button
  Dockerfile
  Makefile
  docker-compose.yml
Due: none

chore(test): add sample input
  rifkin_test.pdf
Due: none

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  flake8: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
