Repository tomasanchez/heimdallr: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, flake8, isort, black

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

refactor: renamed module
  pyproject.toml
  src/heimdallr/__init__.py
  src/heimdallr/adapters/__init__.py
  src/heimdallr/asgi.py
  src/heimdallr/domain/__init__.py
  src/heimdallr/domain/commands/__init__.py
  src/heimdallr/domain/events/__init__.py
  src/heimdallr/domain/events/monitor.py
  src/heimdallr/domain/models/__init__.py
  src/heimdallr/domain/schemas.py
  src/heimdallr/entrypoint/__init__.py
  src/heimdallr/entrypoint/monitor.py
  src/heimdallr/main.py
  src/heimdallr/router.py
  src/heimdallr/service_layer/__init__.py
  src/heimdallr/settings/__init__.py
  src/heimdallr/settings/api_settings.py
  src/heimdallr/settings/uvicorn_settings.py
  src/heimdallr/utils/__init__.py
  src/heimdallr/utils/formatting.py
  src/heimdallr/version.py
  tests/conftest.py
  tests/e2e/entrypoint/test_monitor.py
  tests/unit/domain/test_schemas.py
  tests/unit/settings/test_api_settings.py
  tests/unit/settings/test_uvicorn_settings.py
  tests/unit/test_asgi.py
  tests/unit/utils/test_formatting.py
Due: pylint, mypy, flake8, isort, black

build: updated dependencies
  poetry.lock
Due: none

docs: README
  README.md
Due: none

refactor: run lint
  src/heimdallr/domain/schemas.py
  src/heimdallr/settings/api_settings.py
  tests/unit/settings/test_api_settings.py
Due: pylint, mypy, flake8, isort, black

feat(model): add assignment
  src/heimdallr/domain/models/assignment.py
  tests/unit/domain/models/__init__.py
  tests/unit/domain/models/test_assignment.py
Due: pylint, mypy, flake8, isort, black

refactor(main): update imports
  src/heimdallr/main.py
Due: pylint, mypy, flake8, isort, black

build(dependencies): add NLP spacy
  poetry.lock
  pyproject.toml
Due: none

feat(utils): add text formatting options
  src/heimdallr/utils/formatting.py
  tests/unit/utils/test_formatting.py
Due: pylint, mypy, flake8, isort, black

test(formatting): add conditional coverage
  tests/unit/utils/test_formatting.py
Due: pylint, flake8, isort, black

test(coverage): ignore asgi module
  pyproject.toml
Due: none

fix: mypy
  src/heimdallr/asgi.py
Due: pylint, mypy, flake8, isort, black

feat(adapters): add repository pattern
  src/heimdallr/adapters/repository.py
  tests/mocks.py
  tests/unit/adapters/__init__.py
  tests/unit/adapters/test_repository.py
Due: pylint, mypy, flake8, isort, black

build(docker): fix CMD
  Dockerfile
Due: none

build: add mongo db
  docker-compose.yml
  poetry.lock
  pyproject.toml
Due: none

build: update fastapi & pydantc
  poetry.lock
  pyproject.toml
Due: none

test: add lifespan test
  tests/unit/test_asgi.py
Due: pylint, flake8, isort, black

feat(adapters): add assignment reader
  src/heimdallr/adapters/assignment_reader.py
Due: pylint, mypy, flake8, isort, black

feat(core): add NLP dependency
  pyproject.toml
  src/heimdallr/asgi.py
  src/heimdallr/dependencies.py
Due: pylint, mypy, flake8, isort, black

refactor(domain): update Assignment __eq__
  src/heimdallr/domain/models/assignment.py
Due: pylint, mypy, flake8, isort, black

feat(adapters): obtain author's name
  .flake8
  src/heimdallr/adapters/assignment_reader.py
Due: pylint, mypy, flake8, isort, black

refactor(adapters): different methods for file types
  src/heimdallr/adapters/assignment_reader.py
Due: pylint, mypy, flake8, isort, black

build: download spacy models
  Dockerfile
  Makefile
Due: none

build: poetry updated
  poetry.lock
Due: none

chore: add constants
  src/heimdallr/utils/content_type.py
Due: pylint, mypy, flake8, isort, black

feat(develop): crud assignments
  src/heimdallr/adapters/db.py
  src/heimdallr/adapters/motor_repositories.py
  src/heimdallr/dependencies.py
  src/heimdallr/domain/commands/assignments.py
  src/heimdallr/domain/events/assignments.py
  src/heimdallr/domain/models/assignment.py
  src/heimdallr/entrypoint/v1/__init__.py
  src/heimdallr/entrypoint/v1/assignments.py
  src/heimdallr/notebooks/heimdallr.ipynb
  src/heimdallr/router.py
  src/heimdallr/service_layer/assignment_verifier.py
  tests/unit/service_layer/__init__.py
  tests/unit/service_layer/test_assignment_verifier.py
Due: pylint, mypy, flake8, isort, black

feat(develop): crud assignments
  src/heimdallr/dependencies.py
  src/heimdallr/domain/models/assignment.py
Due: pylint, mypy, flake8, isort, black

refactor(model): change content to list of string
  src/heimdallr/domain/models/assignment.py
  tests/unit/domain/models/test_assignment.py
Due: pylint, mypy, flake8, isort, black

refactor(adapter): update to match new model
  src/heimdallr/adapters/assignment_reader.py
Due: pylint, mypy, flake8, isort, black

refactor(service): update to match new model
  src/heimdallr/service_layer/assignment_verifier.py
Due: pylint, mypy, flake8, isort, black

fix(service): hashable Sentence Comparisons
  src/heimdallr/domain/events/assignments.py
  src/heimdallr/service_layer/assignment_verifier.py
  tests/unit/service_layer/test_assignment_verifier.py
Due: pylint, mypy, flake8, isort, black

feat(entrypoint): background verification
  src/heimdallr/domain/events/assignments.py
  src/heimdallr/entrypoint/v1/assignments.py
  src/heimdallr/service_layer/assignment_verifier.py
  tests/mocks.py
Due: pylint, mypy, flake8, isort, black

fix(build): spacy model download
  Dockerfile
  Makefile
Due: none

refactor(entrypoint): change import for BackgroundTasks
  src/heimdallr/entrypoint/v1/assignments.py
Due: pylint, mypy, flake8, isort, black

refactor(entrypoint): change import for BackgroundTasks
  Dockerfile
  Makefile
  src/heimdallr/entrypoint/v1/assignments.py
Due: pylint, mypy, flake8, isort, black

build(dependencies): add python-docx
  poetry.lock
  pyproject.toml
Due: none

feat(adapters): add support for .docx
  src/heimdallr/adapters/assignment_reader.py
Due: pylint, mypy, flake8, isort, black

refactor(domain): change to use UploadFile
  src/heimdallr/domain/commands/assignments.py
  src/heimdallr/entrypoint/v1/assignments.py
  src/heimdallr/service_layer/assignment_verifier.py
Due: pylint, mypy, flake8, isort, black

ci(pylint): ignore too-many
  pyproject.toml
Due: none

fix(ci): ignore mypy
  src/heimdallr/adapters/db.py
  src/heimdallr/adapters/motor_repositories.py
Due: pylint, mypy, flake8, isort, black

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  flake8: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
